<div id="header">
  <div id="top">
    <%= render :partial => "common/nav" %>
    <!--nav--> 
  </div>
  <!--top-->
  <div id="banner">
    <h2>醫師答客問</h2>
  </div>
  <!--banner--> 
</div>
<!--header-->

<div id="container">
  <div id="bread-crumbs"><a href="<%=root_path%>">首頁</a> > <a href="<%=questions_path%>">醫師答客問</a></div>
  <!--bread-crumbs-->
  <div id="main">
    <%= form_for(@question) do |f| %>
    <div id="form">      
      <table width="285px" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>姓名：
            <%= f.text_field :user_name, :id => "form-name" %></td>
        </tr>
        <tr>
          <td>Email：
            <%= f.text_field :email, :id => "form-mail" %></td>
        </tr>
        <tr>
          <td>詢問內容：<br>
            <%= f.text_area :content, :id => "form-ta" %>&nbsp;</textarea></td>
        </tr>
        <tr>
          <td><%= f.check_box :is_private, :id => "form-ck" %>
            不要顯示我的留言<br>
            <span>醫師會回覆到您填寫的Email信箱</span></td>
        </tr>
        <tr>
          <td align="center" id="form-send">
            <%= f.submit ""%>
          </td>
        </tr>
      </table>
    </div>
    <% end %>
    <!--form-->
    <div id="board">
      <% @questions.each do |question| %>
        <%if question.is_private == false %>
          <div class="msg">
            <table width="100%" border="0" cellspacing="10" cellpadding="0">
              <tr>
                <td>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr valign="top">
                      <td width="20%" class="q-name"><%= question.user_name %></td>
                      <td width="80%" class="q-text"><span class="publish"><%=question.created_at.to_date%>  <%=question.created_at.strftime("%I:%M%p")%></span><p><%= question.content %></p></td>
                    </tr>
                  </table>
                </td>
              </tr>
                  <%= render question.answers %>           
            </table>
          </div>            
        <% else %>  
          <div class="msg hidden">
            <table width="100%" border="0" cellspacing="10" cellpadding="0">
              <tr>
                <td>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr valign="top">
                      <td width="20%" class="q-name"><%= question.user_name %></td>
                      <td width="80%" class="q-text"><span class="publish"><%=question.created_at.to_date%>  <%=question.created_at.strftime("%I:%M%p")%></span><p>隱藏內容</p></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
            </table>
          </div>
        <% end %>
      <% end %>
    </div>
    <!--board--> 
  </div>
  <!--main--> 
</div>
<!--container-->

<div id="footer">
  <div id="info"> <span id="address">台北市中山區民權東路三段56號</span><span id="tel">02-250-250-91</span> <br>
    <br>
    <span id="copyright">Copyright (c) 2012 聚英視光眼科診所</span> </div>
</div>
<!--footer-->
