<meta name="Robots" content="index,follow"/>
<meta name="keywords" content="兒童視力,假性近視,讀寫障礙,近視矯正,弱視,視力檢查,角膜塑形,視覺訓練,視光診所"/>
<meta name="description" content="兒童視力拉警報！在台灣，「生理檢查」和配眼鏡的「矯正專業」總難以兼得，馬上了解真正的醫療團隊如何以視覺訓練、角膜塑型等最新技術保護兒童視力，不再讓寶寶為了近視、弱視受苦！"/>
<meta name="abstract" content="兒童視力拉警報！父母一定要看的嬰兒期檢查、近視矯正新知"/>
<meta name="DC.Rights" content="聚英視光眼科"/>
<meta name="DC.Date" content="2012/7/19"/>
<meta name="DC.Language" scheme="W3CDTF" content="zh-TW"/>
<meta name="DC.Subject" content="兒童視力拉警報！父母一定要看的嬰兒期檢查、近視矯正新知"/>
<meta name="DC.Type" content="知識交流"/>

<title>寶寶的視力保健新知 聚英視光眼科</title>


<div id="header">
  <div id="top">
     <%= render :partial => "common/nav" %>
    <!--nav-->
  </div>
  <!--top-->
  <div id="anchor"> <a href="#anchor1">幼兒期的視力保健</a><a href="#anchor2">矯正近視新觀念</a> </div>
</div>
<!--header-->

<div id="main">
  <div class="content" id="content-1">
    <h2>兒童視力拉警報！</h2>
    <h3>父母一定要看的嬰兒期檢查、近視矯正新知</h3>
    <div class="article">
      <h4>您上次帶小孩去視力檢查是什麼時候？</h4>
      至今，父母們仍然缺乏正確觀念，更缺乏結合「醫學檢驗」與「光學矯正」的完整醫療團隊協助，<br>
      輕則讓小孩終生與鏡片為伍，重則使眼睛受到傷害，例如近視兒大多讓醫師點過散瞳劑，<br>
      卻沒有光學矯正專業的<span title="擁有視光學位，精通驗光、照護、諮詢、矯正、
配鏡的真正專業人員">視光師</span>以濾藍光鏡片保護，容易埋下嚴重後遺症陰影，<a id="anchor1"><br></a>
      以下我們將從幼兒期檢查到近視矯正，為您建立正確的兒童視力觀念，希望您的孩子能免於視力之苦。</div>
  </div>
  <!--content-1--> 
  <img src="<%=get_current_host_and_port%>images/sales-33.jpg" style="padding-left:500px">
  <div class="content" id="content-2">
    <h2>從出生做起，<br>
      幼兒期的視力保健重點</h2>
    <h3>把握「三四五」檢查時機，及早預防近視、弱視及視覺障礙</h3>
    <div class="article"> 寶寶出生時，眼睛其實還沒發育完成，在視力快速成熟的幼兒期，最好做足三次重點視力檢查，<br>
      分別是三歲、四歲以及就學前的五歲，確保每個階段的視力正常發展： </div>
    <ul id="sec-nav">
      <li><a href="#anchor3"><img src="<%=get_current_host_and_port%>images/sales-35.png" width="203" height="91" /></a></li>
      <li><a href="#anchor4"><img src="<%=get_current_host_and_port%>images/sales-36.png" width="205" height="91" /></a></li>
      <li><a href="#anchor5"><img src="<%=get_current_host_and_port%>images/sales-37.png" width="204" height="91" /></a></li>
      <li><a href="#anchor6"><img src="<%=get_current_host_and_port%>images/sales-38.png" width="227" height="91" /></a></li>
    </ul><a id="anchor3"><br></a> 
  </div>
  <!--content-2-->
  <div class="content" id="content-3">
    <div class="article" id="article-1" style="position:relative">
	<a id="anchor4" style="position:absolute;top:400px"></a>
      <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="641"><h3>三歲：盡速安排第一次視力檢查</h3></td>
          <td width="269" rowspan="3"><img src="<%=get_current_host_and_port%>images/sales-41.jpg" width="269" height="275" /> </td>
        </tr>
        <tr>
          <td height="151" valign="top">3歲，是眼球發育的第一個里程碑，<br>
            更是首次確認孩子眼球發展的最佳時機，<br>
            檢查應該同時兼顧「生理檢查」與「矯正光學」，<br>
            由醫師與專精矯正的視光師共同合作，做足完整的檢查，<br>
            且一發現問題就能立刻進行模擬矯正。</td>
        </tr>
        <tr>
          <td><img src="<%=get_current_host_and_port%>images/sales-40.jpg" width="540" height="194" /></td>
        </tr>
      </table>
    </div>
    <!--article-1-->
    <div class="article" id="article-2" style="position:relative">
	<a id="anchor5" style="position:absolute;top:300px"></a>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="641"><h3>四歲：弱視治療黃金時期</h3></td>
          <td width="269" rowspan="2"><img src="<%=get_current_host_and_port%>images/sales-43.jpg" width="269" height="315" /></td>
        </tr>
        <tr>
          <td align="left" valign="top">由於從四歲開始治療弱視的成效最高，在三歲的基礎檢查後，<br>
            強烈建議在四歲安排更深入的檢查項目，一但檢查出弱視，<br>
            就能讓檢查團隊中的視光師著手安排弱視訓練，及早矯正。</td>
        </tr>
      </table>
    </div>
    <div class="article" id="article-3"  style="position:relative">
	<a id="anchor6" style="position:absolute;top:450px"></a>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="70%"><h3>五歲：矯正影響學習的視覺問<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;題，為上學做好準備</h3></td>
          <td width="30%" rowspan="3"><img src="<%=get_current_host_and_port%>images/sales-45.jpg" width="269" height="386" /></td>
        </tr>
        <tr>
          <td height="201" valign="top">別再相信學校的免費視力檢查了，您的小孩是否：
            <ul>
              <li>1. 不想讀書，或無法專心</li>
              <li>2. 常漏讀一些字或段落</li>
              <li>3. 讀完文章，馬上忘記</li>
            </ul>
            符合以上任一項，都可能是眼球追蹤力、對焦力、視覺記憶力等不足，<br>
            若能早點發現，都有可能透過醫師與視光師合作安排的視覺訓練補救，<br>
            讓最重要的眼睛在讀書前乖乖聽話。</td>
        </tr>
        <tr>
          <td><img src="<%=get_current_host_and_port%>images/sales-44.jpg" width="315" height="162" /></td>
        </tr>
      </table>
    </div>
    <div class="article" id="article-4">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td colspan="2"><h3>六歲後：持續追蹤，避免誤診為學習障礙</h3></td>
        </tr>
        <tr>
          <td width="69%">六歲之後，小孩的視力已經成形，<br>
            除了別讓眼睛勞累造成的假性近視變成真的近視，<br>
            更要留意一些容易被誤診為學習障礙的視力問題。<br>
            <br>
            <span>過動症、讀寫障礙，還是視力有問題？</span><br>
            <br>
            根據最新研究，高達1/4的學齡兒童有視力問題，<br>
            根據聖地牙哥大學另一項新研究發現：<br>
            有視力問題的兒童被誤判為過動症的機率，是一般人的3倍。<br>
            <br>
            因此別急著找兒童心智科！有許多兒童視力問題跟過動症<a id="anchor2"><br></a>
            (ADHD) 或讀寫障礙 (Dyslexia) 的症狀很像，請在擁有醫<br>
            師與視光師全盤專業的視光診所作一次徹底的檢查，發現<br>
            問題就能立刻以視覺訓練或正確配鏡輕鬆改善。<br></td>
          <td width="31%"><img src="<%=get_current_host_and_port%>images/sales-47.jpg" width="269" height="278" /></td>
        </tr>
      </table>
    </div>
  </div>
  <!--content-3-->
  <div class="article" id="content-4">
    <h2>兒童近視補救、<br>
      矯正最新觀念</h2>
    <h3>近視控制與角膜塑型</h3>
    <div class="article"> 幼兒期近視還有很大補救空間，一個結合醫師及視光師的完整醫療團隊，<br>
      才能提供安全的散瞳劑控制、正確的配鏡，或最先進的角膜塑型矯正服務，<br>
      做到無後遺症的近視控制，甚至恢復正常視力。 </div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="59%"><h4>散瞳劑：小心嚴重後遺症，<br>
            您需要濾藍光鏡片</h4>
          傳統上，醫師會以散瞳劑控制近視，<br>
          至今依舊是可行的手段，但若未搭配濾藍光鏡片，就可能導致無法彌補的傷害。<br>
          <br>
          最新的醫學研究發現，自然光中的450nm藍光會導致永久性的視網膜黃斑部病變<br>
          ，對眼睛的威脅遠超過太陽眼鏡能阻擋的紫外線 (UV) ，在點了散瞳劑後，因為瞳<br>
          孔無法收縮，視網膜將承受16倍的藍光傷害，所以替寶寶進行矯正的醫療團隊中<br>
          ，除了醫師，也需要光學專精的視光師，才能正確搭配適量散瞳劑與濾藍光鏡片<br>
          ，避免因矯正造成更嚴重的傷害。<br>
          <br>
          <img src="<%=get_current_host_and_port%>images/sales-50.jpg" width="584" height="255" /></td>
        <td width="41%"><img src="<%=get_current_host_and_port%>images/sales-51.jpg" width="271" height="415" /></td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="59%"><h4>角膜塑型：免手術免藥物，<br />
自然而然擺脫眼鏡</h4>
醫學界最新的趨勢，是以特別設計的角膜塑型鏡片重塑眼角膜，只要在夜間配戴<br>
就能回復正常視力，因為無須藥物、不影響眼睛的自然調節力，不但在國際間大<br>
為流行，更是目前最好的矯正方式。<br>
<br>
根據最新研究，<span>一般兒童度數每年約增加100度，配戴角膜塑型鏡片後，平均每年<br>
只增加25度</span>，是兒童近視、散光的救星<br>
<br>
要做好角膜塑型，需要能兼顧生理檢查與光學矯正專業的團隊，在醫師與視光師<br>
的配合下，才能全盤了解眼睛狀況，並量身打造最適合的鏡片。<br>
<br>
<img src="<%=get_current_host_and_port%>images/sales-54.jpg" width="479" height="287" /></td>
    <td width="41%"><img src="<%=get_current_host_and_port%>images/sales-52.jpg" width="271" height="406" /></td>
  </tr>
</table>

  </div>
  <!--content-4-->
  
  <div class="content" id="content-5">
  <img src="<%=get_current_host_and_port%>images/sales-53.jpg" width="922" height="208" />
   </div>
  
  <div class="content" id="content-6">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="40%" rowspan="4" align="center"><a href="index.html"><img src="<%=get_current_host_and_port%>images/sales-18.jpg" width="260" height="79" border="0" /></a></td>
        <td width="60%" align="left"><br>
          <br>
          <h3>醫師與視光師結合，從檢查到矯正完全精通</h3>
          全程由眼科醫師與中山醫學專業視光師組成的完美團隊親自驗配<br>
          <br></td>
      </tr>
      <tr>
        <td align="left"><h3>幼兒視力保健專業</h3>
          擁有受過特殊訓練的視光師，及全套幼兒視力檢測設備<br>          
          <br></td>
      </tr>
      <tr>
        <td align="left"><h3>專業儀器</h3>
          重金引進瞳孔定位儀、角膜地圖儀等高階驗光儀器，鏡片更全數通過衛生署及美國FDA雙國際認證<br>
          <br></td>
      </tr>
      <tr>
        <td align="left"><h3>七天試戴服務、主動追蹤</h3>
          不但提供角膜塑型片試戴，更會主動追蹤配戴狀況，確保健康舒適<br>
          <br></td>
      </tr>
    </table>
  </div>
  <!--content-6--> 
  
</div>
<!--main-->
<%= render :partial => "common/footer" %>
<!--footer-->