<meta name="Robots" content="index,follow"/>
<meta name="keywords" content="老花,視光師,配眼鏡,視力保健,高透氧,眼睛疲勞,多焦點,隱形眼鏡,白內障,角膜塑形,專業驗光,藍光鏡片"/>
<meta name="description" content="眼睛看不清楚又不舒服？眼鏡沒配好、隱形眼鏡戴不舒服、眼睛老化、電腦視覺症候群，堪稱四大現代人最常見的眼睛問題，讓眼科權威與專業視光師以生理、矯正雙重專業為您解答！"/>
<meta name="abstract" content="近視老花困擾，交給聚英視光眼科"/>
<meta name="DC.Rights" content="聚英視光眼科"/>
<meta name="DC.Date" content="2012/7/19"/>
<meta name="DC.Language" scheme="W3CDTF" content="zh-TW"/>
<meta name="DC.Subject" content="近視老花困擾，交給聚英視光眼科"/>
<meta name="DC.Type" content="知識交流"/>

<title>近視及老花困擾 聚英視光眼科</title>


<div id="header">
  <div id="top">
  <%= render :partial => "common/nav" %>
    <!--nav-->
  </div>
  <!--top-->
  <div id="anchor"> <a href="#anchor1">常戴隱形眼鏡</a><a href="#anchor2">長時間使用電腦</a> <a href="#anchor3">眼鏡老是戴不舒服</a><a href="#anchor4">覺得眼睛老化了</a></div>
</div>
<!--header-->

<div id="main">
  <div class="content" id="content-1">
    <div id="article-1">
      <h2>現代人，你的眼睛怎麼了！</h2>
      了解看不清楚、不舒服的真正原因<br>
      配鏡、隱形眼鏡、老化、電腦族常見迷思大公開<br>
      <br>
      <p>您知道隱形眼鏡「超含水」的問題有多大嗎？<br>
        電腦看久了，會有哪些問題？您知道有電腦專用的鏡片嗎？<br>
        您知道，大多數眼鏡行的驗光手續有多草率嗎？<br>
        您知道老花、白內障等老化疾病，都是可以控制的嗎？<br>
        <br>
      </p>
    </div>
    <div id="article-2"> 在自嘲為「近視王國」許多年後，台灣的視力保健環境還沒改善，空氣污染卻已經更嚴重了、近視散光人口<br>
      比例更高了、平均工時更長了，電腦、手機、平板電腦，更讓過勞的眼睛滿街跑，千萬別低估了平常眼睛不<br>
      舒服、看不清楚的嚴重性！<br>
      <a id="anchor1"><br></a>
      這是個視力威脅全面升級、眼睛急速老化的黑暗時代，名列前茅的視力殺手已經變成：眼鏡、隱形眼鏡、電<br>
      腦視覺症候群，以及眼睛老化，除了眼科醫生，更需要專精「光學、矯正」的<span title="擁有視光學位，精通驗光、照護、諮詢、矯正、
配鏡的真正專業人員">視光師</span>協助。要保護眼睛、解<br>
      除不適，先根治錯誤的用眼觀念。馬上看以下的介紹： </div>
  </div>
  <!--content-1-->
  <div class="content" id="content-2">
    <div id="article-1"> <span style="color:#989696;font-size:24px;">隱形眼鏡兩大優質指標</span>
      <h2><span style="color:#00933e">透氧率</span>和<span style="color:#057bd2">清潔度</span></h2>
      <h3>別誤入「超含水」陷阱，高透氧硬式鏡片才是明智選擇</h3>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="57%"><br>
            無論為了美觀或方便，您都應該瞭解：隱形眼鏡依然是一種視覺矯正工具，比起<br>
            一般眼鏡，直接接觸眼球的隱形眼鏡，更需要詳盡的生理檢查與專業配鏡，絕對<br>
            不是像口罩一樣可以隨便買買的消耗品。<br>
            <br>
            隱形眼鏡最重要的兩個指標，就是「透氧率」和「清潔度」，目前最普及的「軟<br>
            式隱形眼鏡」常訴求「超高含水量」，但含水量再高，透氧率還是不夠，戴久會<br>
            導致角膜缺氧，以至於越來越多年輕人的角膜嚴重老化，「含水量」更會導致清<br>
            潔度的問題，容易因沈澱的蛋白質造成過敏，甚至導致細菌感染，不可不慎。<br>
            <br></td>
          <td width="43%"><img src="<%=get_current_host_and_port%>images/sales-21.jpg" width="259" height="179" /></td>
        </tr>
      </table>
      <img src="<%=get_current_host_and_port%>images/sales-22.jpg" width="869" height="116" /> </div>
    <div id="article-2">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><h3>高透氧硬式隱形眼鏡的好處</h3>
            1. 直徑小，透氧度高，適合長時間配戴<br>
            2. 不含水，抗菌度好，不易感染或引起過敏<br>
            3. 除了矯正近視，還能抑制度數增加<br>
            4. 散光、遠視矯正的效果遠勝軟式<br>
            5. 壽命較長，長期配戴較省錢</td>
          <td><img src="<%=get_current_host_and_port%>images/sales-23.jpg" width="484" height="227" /></td>
        </tr>
      </table>
      
    </div>
    <div id="article-3"> 除了以上鏡片本身的選擇之外，配一副隱形眼鏡也要考量到生理、習慣與環境<a id="anchor2"><br></a>
      請找眼科醫師做「角膜內皮細胞檢驗」，確定角膜健康狀況<br>
      並讓視光師為您評估需求，進行配鏡<br>
      否則除了不舒服，還有可能造成角膜潰瘍，影響視力。 </div>
  </div>
  <!--content-2-->
  <div class="content" id="content-3">
    <p>過去，大人總是叫小孩少盯著電視，但現在，無論大人小孩常常都因為工作或課業需求，成了重度的電腦使用者，<br>
      研究發現，高達 75% 的電腦使用者有視力困擾，加上平板電腦、智慧手機的盛行，更容易造成眼睛疲勞、睫狀肌<br>
      痙攣、調節力不良、靈敏度降低、角膜損傷等電腦視覺症候群 (CVS) 問題。<br>
      <br>
      電腦螢幕是一種快速閃爍的發光體，眼睛為了看清楚螢幕，睫狀肌必須不斷調整焦距，導致過度工作，若您常得連<br>
      續盯著螢幕超過一個小時，那您正是電腦視覺症候群的高風險族群，若感到不適，最好馬上找醫師進行<span style="color:#c70303;font-weight:700" title="針對您使用電腦時的需求，進行：
完整的視覺能力、眼球健康狀況檢查
找出使用電腦時面臨的視覺問題
建議最適合的電腦專用鏡片
">視覺分析</span>，<br>
      以藥物治療、<span style="color:#c70303;font-weight:700" title="依據您的眼球能力，量身設計的一種雙眼運
動，只要溫和的練習，就能強化眼部肌肉，
對電腦視覺症候群特別有用，短期就能改善
疲勞、頭痛等不適。">視覺訓練</span>，或讓視光師為您配一副電腦專用的鏡片，才能改善不適，更避免視力惡化。 </p>
    <div id="article-1"> <img src="<%=get_current_host_and_port%>images/sales-26.jpg" id="h3-img"><span>電腦族的視力救星</span>
      <h3>電腦專用鏡片</h3>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td style="padding:0 25px"> 一個重要的觀念：針對每個人不同的需求，眼鏡需要的度數及清晰範圍並不一樣，如果您的生活中總離不開電腦，那您就不該配看遠專用的鏡片，老花專用的多焦點鏡片也會害您老是得抬頭才看得清楚。
            
            這種電腦專用的鏡片，能在經過視覺分析後，依據眼球的睫狀肌、散光、調節力、靈敏度等<a id="anchor3"><br></a>找到最佳的度數、對焦範圍，加上抗閃光、符合人體工學的視野設計，能更根本的改善使用電腦的不適症狀，針對老花，也有電腦專用的多焦點鏡片，老人家不用抬頭就看得清楚，更能改善肩頸痠痛的狀況。 </td>
          <td><img src="<%=get_current_host_and_port%>images/sales-25.jpg" width="459" height="286" /></td>
        </tr>
      </table>
    </div>
    <div id="article-2">
      <h4>為什麼整天推眼鏡<br>
        怎麼戴都不舒服？</h4>
      <br>
      眼鏡戴不舒服也是相當常見的苦惱，原因幾乎只有一個：眼鏡沒配好。<br>
      坊間的眼鏡行多半做不了完整的驗光，也缺乏眼睛生理的知識，不但無<br>
      法讓您戴得舒適，更會傷害視力。<br>
      <br>
      在考量美觀之前，請一定要記住：眼鏡跟助聽器一樣是種矯正工具，就<br>
      像看病需要醫師下處方搭配藥劑師開藥，配眼鏡也需要醫師診斷眼睛狀<a id="anchor4"><br></a>
      況，再交由專精矯正的視光師進行配鏡，才能兼顧舒適、清晰和健康。<br>
      <br>
      <a href="<%=static_pages_glasses_path%>" style="color:#216eb8;font-size:24px">想瞭解更多，請看專業配鏡篇>></a> </div>
  </div>
  <!--content-3-->
  <div class="content" id="content-4">
  <p> 
  無論是因為年紀或用眼過度，視力一旦有老化徵兆，請特別注意，這將會是一生中<br>
  視力變化最劇烈的時期！<br>
  <br>
  除了常見的老花、乾眼，還有許多伴隨著老化的疾病，絕對不要隨便買副老花眼鏡<br>
  ，或等到眼睛看不清楚才找醫生，考量到環境汙染、普遍用眼過度，老化情形常常<br>
  提前到來，建議過了四十歲就要讓眼科醫師、視光師定期進行精密檢查，並以正確<br>
  的方式矯正，才能免於不方便，甚至是危險。</p>
  <div id="article-1" class="article">
  <h4>老花建議：<br>
多焦點眼鏡不是萬靈丹，最好搭配電腦專用鏡片</h4>
雖然便於看遠看近，但戴多焦點眼鏡常得低頭、抬頭調整焦距，若您需要長時間看書、看螢幕，視光師建議，最好還是搭配電腦專用鏡片或單焦點眼鏡，保護視力，也避免傷害肩頸或背部。<br>
<img src="<%=get_current_host_and_port%>images/sales-29.jpg" width="493" height="299" style="margin:30px 0 0 140px"/></div>
  <div id="article-2" class="article">
  <h4>乾眼建議：<br>
注意系統性疾病、避免雷射手術、小心藥物影響</h4>
若確診有乾眼症，請同時檢查有沒有類風濕性關節炎等全身系統性的疾病、避免會永久影響角膜功能的雷射手術，也請注意用藥習慣，因為有些藥物（比如說利尿劑或抗憂鬱藥物）是會導致或加重乾眼症的，請一定要與您的醫師討論。
  </div>
  <div id="article-3" class="article">
  <h4>白內障治療：<br>
微切口白內障手術，搭配新式多焦點人工水晶體</h4>
最新式的微切口手術不但無痛、傷口小、不需縫線，復原時間短，搭配新式的人工水晶體，還能在手術後提昇視覺敏感度、看遠中近距離的能力、降低白內障復發，請先讓眼科醫師與視光師進行詳盡的視力檢查，並挑選具備這類新式手術能力與儀器的診所。
  </div>
  </div>
  <!--content-4-->
  <div class="content" id="content-5">
  <h3>定期檢查，確保健康與平安</h3>
  <p>除了最常見的白內障，視網膜黃斑部病變、青光眼、糖尿病視網膜病變都是常見<br>
  的中老年眼睛疾病，有可能造成永久失明，而眼睛老化期間，夜間視覺、周邊視<br>
  覺、動態追蹤能力也會變差，受不了強光、看不清疾駛而來的汽車或正過馬路的<br>
  行人，最好定期讓醫師與視光師進行檢查，以免影響生活機能與安全。
  </p>
  眼睛是適應力很強的器官，您忍受的每一次不舒服<br>
都在對眼睛造成傷害，除了徹底的生理檢查，配鏡上也要注意<br>
請找結合眼科醫師與視光師的專業團隊為您全面解除不適<br>
更保護重要的視力！
  </div>
  <!--content-5-->

  <div class="content" id="content-6">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="40%" rowspan="3" align="center"><a href="<%=root_path%>"><img src="<%=get_current_host_and_port%>images/sales-18.jpg" width="260" height="79" border="0" /></a></td>
        <td width="60%" align="left"><br><br><h3>從檢查到矯正完全精通，解決您的大小視覺問題</h3>
          前台大主治醫師與中山醫學專業視光師聯手，是兼顧醫學檢查與矯正光學的真正專業團隊。<br>
          <br></td>
      </tr>
      <tr>
        <td align="left"><h3>專業儀器</h3>
          重金引進角膜內皮細胞顯微分析儀、角膜地圖儀、德國瞳孔定位儀等高階儀器，能做到最高<br>
          規格的生理檢查，也能提供真正量身訂做的配鏡服務<br>
          <br></td>
      </tr>
      <tr>
        <td align="left"><h3>白內障手術權威</h3>
          由中華民國眼科醫學會白內障手術現場示範醫師──賴威廷醫師帶領的手術團隊，搭配「旋<br>
          切式超音波晶體乳化儀」與「人工水晶體測度儀」等頂級儀器，是微切口白內障手術、新式<br>人工水晶體矯正的權威。
<br><br></td>
      </tr>
    </table>
  </div>
  <!--content-6--> 
</div>
<!--main-->
<%= render :partial => "common/footer" %>
<!--footer-->