<div id="header">
  <div id="top">
    <h1><a href="index.html">聚英視光眼科診所</a></h1>
    <ul id="nav">
      <li><a href="intro.html">診所介紹</a>│</li>
      <li><a href="services.html">服務項目</a>│</li>
      <li><a href="staff.html">醫師陣容</a>│</li>
      <li><a href="library.html">駐診醫師專欄</a>│</li>
      <li><a href="qa.html">醫師答客問</a>│</li>
      <li><a href="news.html">最新消息</a>│</li>
      <li><a href="brands.html">代理品牌</a></li>
      <li><a href="#" id="fb"><img src="<%=image_path("application/fb.jpg")%>"></a></li>
    </ul>
    <!--nav--> 
  </div>
  <!--top-->
  <div id="banner">
    <h2>服務項目</h2>
  </div>
  <!--banner--> 
</div>
<!--header-->

<div id="container">
  <div id="bread-crumbs"><a href="index.html">首頁</a> > <a href="services.html">服務項目</a></div>
  <!--bread-crumbs-->
  <div id="main">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr valign="top">
    <td width="50%" class="text" style="padding-top:0"><h3><img src="<%=image_path("application/services-01.jpg")%>" alt="專業角膜塑型│近視控制最新方法"></h3>
    是一種夜間睡覺時配戴的高透氧硬式隱形眼鏡，藉由量身訂做的設計將角膜弧度變平，以降低原有眼軸長度，讓配戴者白天不用戴眼鏡也可獲得清晰的視力。對於近視學童，可達到有效減緩近視度數加深的效果。
    </td>
    <td width="50%" class="text" style="padding-top:0"><h3><img src="<%=image_path("application/services-02.jpg")%>" alt="醫學驗光檢查│中山醫大專業視光師服務"></h3>
    電腦驗光的數值有相當誤差，不一定適合用作配鏡度數，個人最佳化的配鏡度數必須經由視光師搭配綜合驗光儀進行一系列的醫學驗光步驟。
醫學驗光項目例如：主利眼、雙眼平衡、及眼位等等，除了給予患者最佳度數，還能針對視覺引起之閱讀障礙、電腦視覺症候群、兩眼視機能、視覺能力進行精密的檢查。</td>
  </tr>
  <tr>
    <td colspan="2" align="center"><img src="<%=image_path("application/services-07.jpg")%>"></td>
    </tr>
  <tr valign="top">
    <td class="text"><h3><img src="images/services-03.jpg" alt="弱視治療│國際最新治療方式"></h3>
    兒童弱視：透過遮眼搭配電腦訓練軟體，訓練弱視眼提升其追蹤、辦識視知覺能力。
成人弱視：透過電腦呈現特定的刺激，用不同方法訓練成人弱視患者以提高他們的對比度知覺能力。</td>
    <td class="text"><h3><img src="<%=image_path("application/services-04.jpg")%>" alt="個人化配鏡│眼科醫師與視光師的配鏡聯合服務"></h3>
    考量每個人的獨特性、個人需求（包含眼睛間距、瞳孔位置、鏡框面彎、鏡架傾斜角、頂點距離..等參數），量身打造更加適合個人的完美鏡片，並依照客戶的個別需求進行驗光配鏡，訂製客製化鏡片產品。</td>
  </tr>
  <tr>
    <td colspan="2" align="center"><img src="<%=image_path("application/services-07.jpg")%>" width="874" height="27" /></td>
    </tr>
  <tr valign="top">
    <td class="text"><h3><img src="<%=image_path("application/services-05.jpg")%>" alt="眼科精密健診滿足高階產業人員的視力健康要求"></h3>
    提供更進階的專業精密檢查項目，如：角膜彩色地形圖儀、角膜內皮細胞顯微分析、免散瞳紅外線眼底攝影…
等儀器檢測。</td>
    <td class="text"><h3><img src="<%=image_path("application/services-06.jpg")%>" alt="一般眼疾治療│前台大榮總專業眼科醫師駐診"></h3>
    近視、遠視、散光、老花眼、眼角膜疾病、圓錐角膜、乾眼症、青光眼、白內障、飛蚊症、視網膜黃斑部病變…等眼睛疾病診斷與治療。</td>
  </tr>
</table>

  </div><!--main-->
</div>
<!--container-->

<div id="footer">
  <div id="info"> <span id="address">台北市中山區民權東路三段56號</span><span id="tel">02-250-250-91</span> <br>
    <br>
    <span id="copyright">Copyright (c) 2012 聚英視光眼科診所</span> </div>
</div>
<!--footer-->