<meta name="Robots" content="index,follow"/>
<meta name="keywords" content="兒童視力,隱形眼鏡,白內障,配眼鏡,專業驗光,視力保健,老花,角膜塑形,乾眼症,視覺訓練,視光師,藍光鏡片,透氧率,白內障手術"/>
<meta name="description" content="眼科權威與專業視光師聯手，打造兼顧眼睛生理、配鏡矯正光學的全新醫療團隊，全面解決眼睛不適、近視老花困擾、兒童視力保健問題，並搭配國際頂級儀器，為您量身打造真正專業的配鏡！"/>
<meta name="abstract" content="兼具眼科醫療與配鏡矯正專業，聚英視光眼科還您健康舒適的視野"/>
<meta name="DC.Rights" content="聚英視光眼科"/>
<meta name="DC.Date" content="2012/7/19"/>
<meta name="DC.Language" scheme="W3CDTF" content="zh-TW"/>
<meta name="DC.Subject" content="聚英視光眼科"/>
<meta name="DC.Type" content="公司網站"/>


<div id="header">
  <div id="top">
    <%= render :partial => "common/nav" %>
    <!--nav--> 
  </div>
  <!--top-->
  <div id="banner">
    <h2>服務項目</h2>
  </div>
  <!--banner--> 
</div>
<!--header-->

<div id="container">
  <%= render :partial => "common/crumb_selector" %>
  <!--bread-crumbs-->
  <div id="main">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr valign="top">
    <td width="50%" class="text" style="padding-top:0"><h3><img src="<%=image_path("application/services-01.jpg")%>" alt="專業角膜塑型│近視控制最新方法"></h3>
    是一種夜間睡覺時配戴的高透氧硬式隱形眼鏡，藉由量身訂做的設計將角膜弧度變平，以降低原有眼軸長度，讓配戴者白天不用戴眼鏡也可獲得清晰的視力。對於近視學童，可達到有效減緩近視度數加深的效果。
    </td>
    <td width="50%" class="text" style="padding-top:0"><h3><img src="<%=image_path("application/services-02.jpg")%>" alt="醫學驗光檢查│中山醫大專業視光師服務"></h3>
    電腦驗光的數值有相當誤差，不一定適合用作配鏡度數，個人最佳化的配鏡度數必須經由視光師搭配綜合驗光儀進行一系列的醫學驗光步驟。
醫學驗光項目例如：主利眼、雙眼平衡、及眼位等等，除了給予患者最佳度數，還能針對視覺引起之閱讀障礙、電腦視覺症候群、兩眼視機能、視覺能力進行精密的檢查。</td>
  </tr>
  <tr>
    <td colspan="2" align="center"><img src="<%=image_path("application/services-07.jpg")%>"></td>
    </tr>
  <tr valign="top">
    <td class="text"><h3><img src="<%=image_path("application/services-03.jpg")%>" alt="弱視治療│國際最新治療方式"></h3>
    兒童弱視：透過遮眼搭配電腦訓練軟體，訓練弱視眼提升其追蹤、辦識視知覺能力。
成人弱視：透過電腦呈現特定的刺激，用不同方法訓練成人弱視患者以提高他們的對比度知覺能力。</td>
    <td class="text"><h3><img src="<%=image_path("application/services-04.jpg")%>" alt="個人化配鏡│眼科醫師與視光師的配鏡聯合服務"></h3>
    考量每個人的獨特性、個人需求（包含眼睛間距、瞳孔位置、鏡框面彎、鏡架傾斜角、頂點距離..等參數），量身打造更加適合個人的完美鏡片，並依照客戶的個別需求進行驗光配鏡，訂製客製化鏡片產品。</td>
  </tr>
  <tr>
    <td colspan="2" align="center"><img src="<%=image_path("application/services-07.jpg")%>" width="874" height="27" /></td>
    </tr>
  <tr valign="top">
    <td class="text"><h3><img src="<%=image_path("application/services-05.jpg")%>" alt="眼科精密健診滿足高階產業人員的視力健康要求"></h3>
    提供更進階的專業精密檢查項目，如：角膜彩色地形圖儀、角膜內皮細胞顯微分析、免散瞳紅外線眼底攝影…
等儀器檢測。</td>
    <td class="text"><h3><img src="<%=image_path("application/services-06.jpg")%>" alt="一般眼疾治療│前台大榮總專業眼科醫師駐診"></h3>
    近視、遠視、散光、老花眼、眼角膜疾病、圓錐角膜、乾眼症、青光眼、白內障、飛蚊症、視網膜黃斑部病變…等眼睛疾病診斷與治療。</td>
  </tr>
</table>

  </div><!--main-->
</div>
<!--container-->
<%= render :partial => "common/footer" %>
<!--footer-->