<div id="header">
  <div id="top">
    <%= render :partial => "common/nav" %>
    <!--nav--> 
  </div>
  <!--top-->
  <div id="banner">
    <h2>醫師陣容</h2>
  </div>
  <!--banner--> 
</div>
<!--header-->

<div id="container">  
  <%= render :partial => "common/crumb_selector" %>
  <!--bread-crumbs-->
  <div id="main">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="470" valign="top"><table width="420" border="0" cellspacing="0" cellpadding="0" style="margin:0px 25px 25px 25px">
            <tr>
              <td width="17%" valign="top"><img src="<%=image_path("application/staff-01.jpg")%>" width="146" height="150" /></td>
              <td width="83%" valign="top"><span>院長</span>
                <h4>劉怡廷醫師</h4>
                <ul>
                  <li class="achievement">前台北榮總眼整形科主治醫師</li>
                  <li class="achievement">國立陽明大學部定講師</li>
                  <li>台北醫學大學醫學士</li>
                  <li>國立陽明大學醫務管理碩士</li>
                  <li>台北醫學大學醫學美容師證照</li>
                  <li>中華民國眼科教授學術醫學會會員</li>
                </ul></td>
            </tr>
          </table></td>
        <td width="470" valign="top"><table width="420" border="0" cellspacing="0" cellpadding="0" style="margin:0px 25px 25px 25px">
            <tr>
              <td width="17%" valign="top"><img src="<%=image_path("application/staff-02.jpg")%>" width="146" height="150" /></td>
              <td width="83%" valign="top"><span>顧問醫師/醫學碩士</span>
                <h4>梁智凱醫師</h4>
                <ul>
                  <li class="achievement">前台北榮總眼科部特約主治醫師</li>
                  <li class="achievement">國立陽明大學部定講師</li>
                  <li>長庚大學醫學士</li>
                  <li> 中國醫藥大學中西醫結合醫學碩士</li>
                  <li> 教育部視力保健種子教官</li>
                  <li>台灣白內障暨屈光手術醫學會會員</li>
                </ul></td>
            </tr>
          </table></td>
      </tr>
      <tr>
        <td valign="top"><table width="420" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="17%" valign="top"><img src="<%=image_path("application/staff-03.jpg")%>" width="146" height="151" /></td>
              <td width="83%" valign="top"><span>醫療顧問</span>
                <h4>周士祺醫師</h4>
                <ul>
                  <li class="achievement"> 前台大醫院眼科部主治醫師</li>
                  <li class="achievement"> 桃園敏盛醫院眼科主治醫師</li>
                  <li> 台大醫學系畢業</li>
                  <li> 台大醫院眼科視網膜及眼角膜研究員</li>
                  <li> 中華民國眼科專科醫師</li>
                  <li> 台灣白內障暨屈光手術醫學會會員</li>
                  <li> 中華民國眼科教授學術醫學會會員</li>
                </ul></td>
            </tr>
          </table></td>
        <td valign="top"><table width="420" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="17%" valign="top"><img src="<%=image_path("application/staff-04.jpg")%>" width="146" height="151" /></td>
              <td width="83%" valign="top"><span>醫療顧問</span>
                <h4>賴威廷醫師</h4>
                <ul>
                  <li style="font-size:17px">美國Visx準分子雷射亞洲區指導醫師</li>
                  <li>歐洲白內障暨屈光手術醫學ESCRS會員</li>
                  <li> 桃園敏盛醫院眼科部主任</li>
                  <li> 台大醫學系畢業</li>
                  <li> 台大醫院眼科視網膜及眼整型科研究</li>
                  <li> 美國眼科醫學會AAO會員</li>
                  <li> 中華民國眼科教授學術醫學會會員</li>
                </ul></td>
            </tr>
          </table></td>
      </tr>
      <tr>
        <td valign="top"><table width="420" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="17%" valign="top"><img src="<%=image_path("application/staff-05.jpg")%>" width="146" height="151" /></td>
              <td width="83%" valign="top"><span>特約主治醫師</span>
                <h4>劉怡君醫師</h4>
                <ul>
                  <li class="achievement">前台大醫院眼科部主治醫師</li>
                  <li class="achievement">敏盛綜合醫院眼科主治醫師</li>
                  <li>台北醫學大學醫學士</li>
                  <li>台大醫學院臨床醫學研究所碩士</li>
                  <li>台大醫院眼科部視網膜及眼整型研究員</li>
                  <li> 中華民國眼科專科醫師</li>
                </ul></td>
            </tr>
          </table></td>
        <td valign="top"><table width="420" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="17%" valign="top"><img src="<%=image_path("application/staff-06.jpg")%>" width="146" height="151" /></td>
              <td width="83%" valign="top"><span>診所經理/督導視光師</span>
                <h4>楊琇琬</h4>
                <ul>
				  <li> 中山醫學大學視光學士</li>
				  <li> 中台科技大學醫學工程碩士</li>
				  <li> 國際隱形眼鏡教師學會學者 <a style="font-size:12px">(Fellow of IACLE)</a></li>
				  <li> 教育部部定講師</li>
				  <li>中國河南鄭州鐵路技術學校約聘講師</li>
                  <li> 台北視光中心督導視光師</li>
				  <li> 臺灣眼視光學會會員</li>                  
                </ul></td>
            </tr>
          </table></td>
      </tr>
	  <tr>
        <td valign="top"><table width="420" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="17%" valign="top"><img src="<%=image_path("application/staff-08.jpg")%>" width="146" height="151" /></td>
              <td width="83%" valign="top"><span>視光師群</span>
                <h4>翁莉閔</h4>
                <ul>
                  <li class="achievement">中山醫學大學視光學士</li>
                </ul></td>
            </tr>
          </table></td>
        <td valign="top"><table width="420" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="17%" valign="top"><img src="<%=image_path("application/staff-07.jpg")%>" width="146" height="151" /></td>
              <td width="83%" valign="top"><span>視光師群</span>
                <h4>吳晉嘉</h4>
                <ul>
				  <li class="achievement">中山醫學大學視光學士</li>                  
                </ul></td>
            </tr>
          </table></td>
      </tr>           
    </table>
  </div>
  <!--main--> 
</div>
<!--container-->
<%= render :partial => "common/footer" %>
<!--footer-->