<%= render :partial => "admin/common/admin_top" %>
<!--top-->
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

<script>
$(document).ready(function(){
  $('#switch').click(function(){
    $('.hidden').toggle(500)
  })
})
</script>
<div id="container">
  <div id="side" class="left">
    <ul>
      <%= render :partial => "admin/common/admin_function_selector" %>
    </ul>
  </div>
  <!--side-->
  <div id="main" class="right">
    <div class="category">
      <h2>修改個人資料</h2> <a id="switch" class="select" href="javascript:void(0)">重設密碼</a>
    </div>
    <div class="form">
      <table width="62%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="7%">帳號</td>
          <td width="93%"><%= f.email_field :email %></td>
        </tr>
        <tr>
          <td width="7%">姓名</td>
          <td width="93 %"><%= f.text_field :user_name %></td>
        </tr>
      </table>
    </div>
    <div class="form hidden">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="14%">重設密碼</td>
          <td width="86%"><%= f.password_field :password, :autocomplete => "off" %></td>
        </tr>
        <tr>
          <td width="14%">確認密碼</td>
          <td width="86%"><%= f.password_field :password_confirmation %></td>
        </tr>
      </table>
    </div>
    <div class="button"> <%= f.submit "儲存" %> <a href="/admin/posts"><img src="<%=image_path("admin/cancel.png")%>">取消</a> </div>
  </div>
</div>
<% end %>