<link href="/css/login.css" rel="stylesheet" />

<div id="top">
  <div class="right"><a href="<%=root_path%>">返回首頁</a><a href="<%=new_registration_path(resource_name)%>">註冊</a></div>
</div>
<!--top--> 
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name, :validate => true)) do |f| %>
<div id="container">
  
    <div class="title"><h2><img src="<%=image_path("admin/h2.png")%>"/></h2></div>
    
    <div class="form">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="21%">帳號</td>
          <td width="79%"><%= f.email_field :email %><br><span>(請使用email註冊)</span></td>
        </tr>
        <tr>
          <td>姓名</td>
          <td><%= f.text_field :user_name %></td>
        </tr>
        <tr>
          <td>密碼</td>
          <td><%= f.password_field :password %></td>
        </tr>
        <tr>
          <td>確認密碼</td>
          <td><%= f.password_field :password_confirmation %></td>
        </tr>
        
      </table>
    </div>    
    
    <div class="button"><%= f.submit "註冊" %></div>

</div>
<!--container-->
<% end %>
<div id="footer"></div>
<!--footer-->