<% if @article.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  </div>
<% end %>
<%= render :partial => "admin/common/admin_top" %>
<div id="container">
  <div id="side" class="left">
    <ul>
      <%= render :partial => "admin/common/admin_function_selector" %>
    </ul>
  </div>
  <!--side-->
  <div id="main" class="right">
    <div class="main-title"> 
    <div class="publish"><%=Time.now.to_date%></div> 
    <div class="title"><%= f.text_field :title %></div>
    </div>
    <% if @article.excerpt_image_top %>
      <p>
        <%= image_tag(@article.excerpt_image_top.url(:medium)) %>
      </p>
    <% end %>
    <div class="field">
        <%= f.label :excerpt_image_top %><br />
        <%= f.file_field :excerpt_image_top %>
    </div>
    <div class="main-text"><%= f.text_area :content, :cols => "", :rows => "", :class=> "autogrow"%></div>
    <div class="button"><%= f.submit "" %><img src="<%=image_path("admin/save.png")%>"><a>儲存</a></div>
    <div class="button"><a href="<%=admin_board_path(@board)%>"><%=image_tag("admin/cancel.png")%>取消</a>
    </div>
    <!--main--> 
  </div>
</div>
<!--container-->
<div id="footer"></div>
<!--footer-->