<div id="header">
  <div id="top">
    <%= render :partial => "common/nav" %>
    <!--nav--> 
  </div>
  <!--top-->
  <div id="banner">
    <h2>駐診醫師專欄</h2>
  </div>
  <!--banner--> 
</div>
<!--header-->
<div id="container">
  <%= render :partial => "common/crumb_selector" %>
  <!--bread-crumbs-->
  <div id="main">
    <div id="side">
      <ul id="category">
        <%= render :partial => "common/board_selector" %>
      </ul><!--category-->
      <%= render :partial => "common/display_article_item" %>
    </div>
    <!--side-->
    <div id="content"> 
      <span><%=@article.created_at.to_date%></span>
      <h4><%= @article.title %></h4> 
  	<div class="text">
	<div class="text-image">
      <% if @article.excerpt_image_top? %>
       
          <%= image_tag(@article.excerpt_image_top.url(:medium)) %>
       
      <% end %>
	  </div>
      <%= @article.content.gsub("\n", "<br />").html_safe %>
      <div class="text-image">
	  <% if @article.excerpt_image_bottom? %>
        
          <%= image_tag(@article.excerpt_image_bottom.url(:medium)) %>
        
      <% end %>
	  </div>
	  </div>
  </div>
    <!--content--> 
  </div>
  <!--main--> 
</div>
<!--container-->
<%= render :partial => "common/footer" %>
<!--footer-->