<div id="top">
  <h1 class="left"><a href="#">聚英眼科-後台管理系統</a></h1>
  <div class="right">你好，黃醫師！<a href="#">修改個人資料</a><a href="#">登出</a></div>
</div>
<!--top-->
<div id="container">
  <div id="side" class="left">
    <ul>
      <%= render :partial => "admin/common/admin_function_selector" %>
    </ul>
  </div>
  <!--side-->
  <div id="main" class="right">
    <div class="main-title">
      <div class="publish"><%= @question.created_at.to_date %></div>
      <div class="title"><%= @question.user_name %></div>
    </div>
    <div class="main-text"><%= simple_format(@question.content) %></div>
    <%= form_for @answer, :url => admin_question_answers_path(@question,@answer) do |f| %>
    <div class="main-text" id="main-text-reply"><%= f.text_area :content, :cols => "", :rows => "", :class=> "autogrow"%>     
    </div>
    <div class="button"><a href="#"><%= f.submit "" %><img src="<%=image_path("admin/mail.png")%>"><a>儲存寄出</a></div>
    <div class="button"><a href="<%=admin_questions_path%>"><img src="<%=image_path("admin/cancel.png")%>">取消</a></div>
    <!--main--> 
    <% end %>
  </div>
</div>
<!--container-->
<div id="footer"></div>
<!--footer-->