<%= form_for([:admin,@post]) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= render :partial => "admin/common/admin_top" %>
<!--top-->
<div id="container">
<div id="side" class="left">
<ul>
<%= render :partial => "admin/common/admin_function_selector" %>
</ul>
</div>
<!--side-->
<div id="main" class="right">
<div class="main-title">
<div class="publish"><%=Time.now.to_date%></div>
<div class="title"><%= f.text_field :title %></div>
</div>
<div class="main-text"><%= f.text_area :content, :cols => "", :rows => "", :class=> "ckeditor"%></div>
<div class="button"><%= f.submit "" %><img src="<%=image_path("admin/save.png")%>"><a>儲存</a></div>
<div class="button"><a href="<%=admin_posts_path%>"><%=image_tag("admin/cancel.png")%>取消</a></div>
</div><!--main-->
</div><!--container-->
<div id="footer" /></div>
<!--footer-->
<% end %>
