<%= form_for([:admin,@post]) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= render :partial => "admin/common/admin_top" %>
<!--top-->
<div id="container">
  <div id="side" class="left">
    <ul>
    <%= render :partial => "admin/common/admin_function_selector" %>
    </ul>
  </div>
  <!--side-->
  <div id="main" class="right">
    <div class="form">
      <table width="100%" cellpadding="0" cellspacing="0">        
        <tr>
          <td width="7%">標題</td>
            <td width="93%" colspan="4">
              <div class="title">
              <%= f.text_field :title %>
              <span class="publish"><%=Time.now.to_date%></span>
              </div>
          </td>
        </tr> 
        <tr>
          <td colspan="5"><%= f.cktext_area :content %></td>
        </tr> 
      </table>
    </div>
    <div class="button">
      <%= f.submit "儲存" %>
      <a href="<%=admin_posts_path%>"><%=image_tag("admin/cancel.png")%>取消</a>
    </div>
  </div>
</div>

<style>
.cke_1 .cke_wrapper,.cke_1_dialog .cke_dialog_contents,.cke_1_dialog a.cke_dialog_tab,.cke_1_dialog .cke_dialog_footer{background-color: #fff !important;}

</style>
<% end %>
