<div id="top">
<h1 class="left"><a href="#">聚英眼科-後台管理系統</a></h1>
<div class="right">你好，黃醫師！<a href="#">修改個人資料</a><a href="#">登出</a></div>
</div>
<!--top-->
<div id="container">
<div id="side" class="left">
<ul>
<li><a href="#" id="posts" class="active">最新消息</a></li>
<li><a href="#" id="questions">醫師答客問</a></li>
<li><a href="#" id="boards">醫療專欄</a></li>
</ul>
</div>
<!--side-->
<div id="main" class="right">
<div class="main-title">
<div class="publish"><%= @post.created_at.to_date %></div>
<div class="title"><%= @post.title %></div>
</div>
<div class="main-text"><%= @post.content %></div>
<div class="button"><a href="<%=edit_admin_post_path(@post)%>"><%=image_tag("edit.png")%>編輯</a></div>
<div class="button"><a href="<%=admin_posts_path%>"><%=image_tag("back.png")%>返回</a></div>
<!--main--> </div>
</div>
<!--container-->
<div id="footer" />
<!--footer-->

<!-- <p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<% if current_user && current_user.is_admin? %>
	<%= link_to 'Edit', edit_admin_post_path(@post) %> |
<%end%>
<%= link_to 'Back', admin_posts_path %> -->
