<%= render :partial => "admin/common/admin_top" %>
<div id="container">
<div id="side" class="left">
<ul>
<%= render :partial => "admin/common/admin_function_selector" %>
</ul>
</div>
<!--side-->
<div id="main" class="right">
<div class="main-title">
<div class="publish"><%= @post.created_at.to_date %></div>
<div class="title"><%= @post.title %></div>
</div>
<div class="main-text"><%= @post.content.gsub('\n', '<br />') %></div>
<div class="button"><a href="<%=edit_admin_post_path(@post)%>"><%=image_tag("admin/edit.png")%>編輯</a></div>
<div class="button"><a href="<%=admin_posts_path%>"><%=image_tag("admin/back.png")%>返回</a></div>
<!--main--> </div>
</div>
<!--container-->
<div id="footer" />
<!--footer-->

<!-- <p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<% if current_user && current_user.is_admin? %>
	<%= link_to 'Edit', edit_admin_post_path(@post) %> |
<%end%>
<%= link_to 'Back', admin_posts_path %> -->
