<h1>Listing questions</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Email</th>
    <th>Is private</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.title %></td>
    <td><%= question.content %></td>
    <td><%= question.email %></td>
    <td><%= question.is_private %></td>
    <td><%= link_to 'Show', admin_question_path(question) %></td>
    <% if current_user && current_user.is_admin? %>
      <td><%= link_to 'Edit', edit_admin_question_path(question) %></td>
      <td><%= link_to 'Destroy', admin_question_path(question), confirm: 'Are you sure?', method: :delete %></td>
    <% end%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_admin_question_path %>
