<div id="top">
  <h1 class="left"><a href="/admin/posts">聚英眼科-後台管理系統</a></h1>
  <div class="right"><a href="<%=root_path%>">返回首頁</a><a href="<%=new_registration_path(resource_name)%>">註冊</a></div>
</div>
<!--top-->
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<div id="container">
  <div id="main" class="main-sign">
    <h2><img src="<%=image_path("admin/man.png")%>" width="16" height="16" /> 使用者登入</h2>
    
     <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left">帳號<br>
    <%= f.email_field :email %></td>
  </tr>

  <tr>
    <td align="left">密碼<br>
    <%= f.password_field :password %></td>
  </tr>
  
<!--     <tr>
    <td align="left">是否記住密碼？<input name="" type="checkbox" value="" style="width:25px"/></td>
  </tr> -->

</table>

<div class="button"><%= f.submit "" %><img src="<%=image_path("admin/login.png")%>"><a>登入</a></div>
<div class="button"><a href="<%=new_password_path(resource_name)%>"><img src="<%=image_path("admin/psw.png")%>">忘記密碼</a></div>
</div>
  <!--main--> 
</div>
<!--container-->
<% end %>
<div id="footer"></div>
<!--footer-->