<div id="header">
  <div id="top">
    <%= render :partial => "common/nav" %>
    <!--nav--> 
  </div>
  <!--top-->
  <div id="banner">
    <h2>最新消息</h2>
  </div>
  <!--banner--> 
</div>
<!--header-->
<div id="container">
  <div id="bread-crumbs"><a href="<%=root_path%>">首頁</a> ><a href="/news">最新消息</a></div>
  <!--bread-crumbs-->
  <div id="main">
    <div id="side">
      <div id="list">
        <% @posts.each do |post| %>
        <ul class="content-title">
          <li><%= post.created_at.to_date %></li>
          <li><a href="/news/<%=post.id%>"><%= post.title %></a></li>
        </ul>        
        <% end %>
      </div>
      <!--list-->
      <div id="page">
      <ul>
        <%= paginate @posts %>
      </ul>
      </div>
      <img src="<%=image_path("application/news-01.jpg")%>">
    </div>
    <!--side-->
    <div id="content"> 
    <span><%= @post_show.created_at.to_date %></span>
    <h3><%= @post_show.title %></h3> 
    <div class="text">
      <%= @post_show.content.gsub("\n", "<br />").html_safe %>
    </div>
</div>
    <!--content--> 
  </div>
  <!--main--> 
</div>
<!--container-->
<%= render :partial => "common/footer" %>
<!--footer-->