<div id="header">
  <div id="top">
    <%= render :partial => "common/nav" %> <!--nav--> 
  </div><!--top-->
  <div id="banner">
    <h2>最新消息</h2>
  </div><!--banner--> 
</div><!--header-->
<div id="container">
  <!--bread-crumbs-->
  <%= render :partial => "common/crumb_selector" %>
  <div id="main">
    <div id="side">
      <div id="list">
        <% @posts.each do |post| %>
        <ul class="content-title">
          <li><%= post.created_at.to_date %></li>
          <li><a href="/news/<%=post.id%><%="?page="+params[:page].to_s() if !params[:page].blank?%>"><%= post.title %></a></li>
        </ul>        
        <% end %>
      </div><!--list-->
      <div id="page">
      <ul>
        <%= paginate @posts %>
      </ul>
	  </div><!--page-->
    </div><!--side-->
    <div id="content"> 
    <span><%= @post.created_at.to_date %></span>
    <h3><%= @post.title %></h3> 
    <div class="text">
      <%= @post.content.gsub("\n", "<br />").html_safe %>
    </div>
    </div><!--content--> 
  </div><!--main--> 
</div><!--container-->
<%= render :partial => "common/footer" %>
<!--footer-->