<div id="header">
  <div id="top">
    <%= render :partial => "common/nav" %> <!--nav--> 
  </div><!--top-->
  <div id="banner">
    <h2>最新消息</h2>
  </div><!--banner--> 
</div><!--header-->
<div id="container">
  <!--bread-crumbs-->
  <%= render :partial => "common/crumb_selector" %>
  <div id="main">
     <%= render :partial => "common/display_post_item" %>
     <%= render :partial => "common/display_post_content" %>
  </div><!--main--> 
</div><!--container-->
<%= render :partial => "common/footer" %>
<!--footer-->