<%= form_for([:admin,@user]) do |f| %>
<%= render :partial => "admin/common/admin_top" %>
<div id="container">
  <div id="side" class="left">
    <ul>
      <%= render :partial => "admin/common/admin_function_selector" %>
    </ul>
  </div>
  <!--side-->
  <div id="main" class="right">
    <div class="main-form">
      <table width="100%" border="0" cellpadding="0" cellspacing="10" >
        <tr>
          <td align="left" height="30">是否給予權限<%= f.check_box :is_admin %></td>
         <!--  <td align="left" height="30"></td> -->
        </tr>
      </table>
    </div>
    <!--main-form-->
    <div class="button"><%= f.submit "" %><img src="<%=image_path("admin/save.png")%>"><a>儲存</a></div>
    <div class="button"><a href="<%=admin_users_path%>"><%=image_tag("admin/cancel.png")%>取消</a></div>  
</div>
<!--container-->
<div id="footer"></div>
<!--footer-->
<% end %>