<%= form_for([:admin,@user]) do |f| %>
<%= render :partial => "admin/common/admin_top" %>
<div id="container">
  <div id="side" class="left">
    <ul>
      <%= render :partial => "admin/common/admin_function_selector" %>
    </ul>
  </div>
  <!--side-->
  <div id="main" class="right">
    <div class="form">
      是否給予權限<%= f.check_box :is_admin %>
    </div>
    <!--main-form-->
    <div class="button">
    <%= f.submit "儲存" %>
    <a href="<%=admin_users_path%>"><%=image_tag("admin/cancel.png")%>取消</a>
    </div>  
</div>
<!--container-->
<div id="footer"></div>
<!--footer-->
<% end %>