<%
    if @facebook.nil?
      @facebook = Facebook.new
      @defaultFacebook = DefaultFacebook.first
      @facebook.title = @defaultFacebook.title
      @facebook.description = @defaultFacebook.description
      @facebook.image_url = @defaultFacebook.excerpt_image.url
      @facebook.site_type = @defaultFacebook.site_type
      @facebook.site_name = @defaultFacebook.site_name
      @facebook.admins = @defaultFacebook.admins      
    end
    @facebook.image_url = request.host_with_port+@facebook.image_url
    @facebook.url = request.host_with_port+request.original_fullpath
%>
<a name="fb_share" type="icon" share_url="YOUR_URL">
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" 
        type="text/javascript">
</script>
<!-- <a href="http://www.facebook.com/sharer.php?s=100&p[url]=<%=@facebook_url_encode_URI%>&p[images][0]=<%=@facebook.image_url%>&p[title]=<%=@facebook_title_encode_URI%>&p[summary]=<%=@facebook_description_encode_URI%>" target="_blank"><img src="<%=image_path("facebookbtn.png")%>"></a> -->