<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Overall Template -->
<head>


      <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-35078310-1']);
          _gaq.push(['_trackPageview']);

          (function () {
              var ga = document.createElement('script');
              ga.type = 'text/javascript';
              ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(ga, s);
          })();

      </script>

  <% unless ((params[:controller]=="static_pages" && params[:action]=="discomfort") || (params[:controller]=="static_pages" && params[:action]=="glasses") || (params[:controller]=="static_pages" && params[:action]=="child")) %>

      <meta name="Robots" content="index,follow"/>
      <meta name="keywords" content="兒童視力,隱形眼鏡,白內障,配眼鏡,專業驗光,視力保健,老花,角膜塑形,乾眼症,視覺訓練,視光師,藍光鏡片,透氧率,白內障手術"/>
      <meta name="description" content="眼科權威與專業視光師聯手，打造兼顧眼睛生理、配鏡矯正光學的全新醫療團隊，全面解決眼睛不適、近視老花困擾、兒童視力保健問題，並搭配國際頂級儀器，為您量身打造真正專業的配鏡！"/>
      <meta name="abstract" content="兼具眼科醫療與配鏡矯正專業，聚英視光眼科還您健康舒適的視野"/>
      <meta name="DC.Rights" content="聚英視光眼科"/>
      <meta name="DC.Date" content="2012/7/19"/>
      <meta name="DC.Language" scheme="W3CDTF" content="zh-TW"/>
      <meta name="DC.Subject" content="聚英視光眼科"/>
      <meta name="DC.Type" content="公司網站"/>
      <link rel="shortcut icon" href="<%= image_path("favicon.ico") %>">
      <title>EyePlus 聚英視光眼科</title>
  <% end %>

  <% if params[:controller]=="static_pages" && params[:action]=="discomfort" %>
      <meta name="Robots" content="index,follow"/>
      <meta name="keywords" content="硬式隱形眼鏡,硬式隱形眼鏡推薦,硬式隱形眼鏡矯正,配隱形眼鏡,硬式隱形眼鏡品牌,配眼鏡,高透氧,眼睛疲勞,隱形眼鏡,專業驗光"/>
      <meta name="description" content="眼睛看不清楚又不舒服？眼鏡沒配好、隱形眼鏡戴不舒服、眼睛老化、電腦視覺症候群，堪稱四大現代人最常見的眼睛問題，讓眼科權威與專業視光師以生理、矯正雙重專業為您解答！"/>
      <meta name="abstract" content="近視老花困擾，交給聚英視光眼科"/>
      <meta name="DC.Rights" content="聚英視光眼科"/>
      <meta name="DC.Date" content="2012/7/19"/>
      <meta name="DC.Language" scheme="W3CDTF" content="zh-TW"/>
      <meta name="DC.Subject" content="近視老花困擾，交給聚英視光眼科"/>
      <meta name="DC.Type" content="知識交流"/>
      <title>近視及老花困擾 聚英視光眼科</title>
  <% end %>

  <% if params[:controller]=="static_pages" && params[:action]=="glasses" %>
      <meta name="Robots" content="index,follow"/>
      <meta name="keywords" content="配眼鏡,驗光師,視光師,眼睛不舒服,專業驗光,頭暈,眼壓高,多焦點,Rodenstock,隱形眼鏡,白內障,視力檢查"/>
      <meta name="description" content="常常覺得頭暈、眼壓高嗎？千萬別忽視眼鏡戴不舒服的問題！只有配好一副兼顧生理與矯正需求的眼鏡，才能讓人生重拾清晰與健康，馬上瞭解這種最新的個人化配鏡！"/>
      <meta name="abstract" content="量身打造的個人化配鏡體驗，聚英視光眼科"/>
      <meta name="DC.Rights" content="聚英視光眼科"/>
      <meta name="DC.Date" content="2012/7/19"/>
      <meta name="DC.Language" scheme="W3CDTF" content="zh-TW"/>
      <meta name="DC.Subject" content="量身打造的個人化配鏡體驗，聚英視光眼科"/>
      <meta name="DC.Type" content="知識交流"/>

      <title>專業配鏡介紹 聚英視光眼科</title>
  <% end %>

  <% if params[:controller]=="static_pages" && params[:action]=="child" %>
      <meta name="Robots" content="index,follow"/>
      <meta name="keywords" content="兒童近視治療,兒童近視矯正,兒童近視控制,兒童視力,假性近視,讀寫障礙,近視矯正,弱視,視力檢查,角膜塑形,視覺訓練"/>
      <meta name="description" content="兒童視力拉警報！在台灣，「生理檢查」和配眼鏡的「矯正專業」總難以兼得，馬上了解真正的醫療團隊如何以視覺訓練、角膜塑型等最新技術保護兒童視力，不再讓寶寶為了近視、弱視受苦！"/>
      <meta name="abstract" content="兒童視力拉警報！父母一定要看的嬰兒期檢查、近視矯正新知"/>
      <meta name="DC.Rights" content="聚英視光眼科"/>
      <meta name="DC.Date" content="2012/7/19"/>
      <meta name="DC.Language" scheme="W3CDTF" content="zh-TW"/>
      <meta name="DC.Subject" content="兒童視力拉警報！父母一定要看的嬰兒期檢查、近視矯正新知"/>
      <meta name="DC.Type" content="知識交流"/>
      <title>寶寶的視力保健新知 聚英視光眼科</title>
  <% end %>

  <% if params[:controller]=="static_pages" && params[:action]=="introduction" %>
       <meta name="Robots" content="index,follow"/>
      <meta name="keywords" content="中山區眼科,台北眼科推薦,松山區眼科,台北眼科,台北市眼科,隱形眼鏡,白內障,配眼鏡,專業驗光,角膜塑形"/>
      <meta name="description" content="眼科權威與專業視光師聯手，打造兼顧眼睛生理、配鏡矯正光學的全新醫療團隊，全面解決眼睛不適、近視老花困擾、兒童視力保健問題，並搭配國際頂級儀器，為您量身打造真正專業的配鏡！"/>
      <meta name="abstract" content="兼具眼科醫療與配鏡矯正專業，聚英視光眼科還您健康舒適的視野"/>
      <meta name="DC.Rights" content="聚英視光眼科"/>
      <meta name="DC.Date" content="2012/7/19"/>
      <meta name="DC.Language" scheme="W3CDTF" content="zh-TW"/>
      <meta name="DC.Subject" content="聚英視光眼科"/>
      <meta name="DC.Type" content="公司網站"/>
      <link rel="shortcut icon" href="<%= image_path("favicon.ico") %>">
      <title>EyePlus 聚英視光眼科</title>
  <% end %>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= render :partial => "common/facebook_tag" %>
  <%= render :partial => "common/application_stylesheets_and_javascripts_selector" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>
