<!DOCTYPE html>
<html>
<head>
  <%= render :partial => "common/facebook_tag" %>
  <title>EyePlus</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => "common/user_nav" %>
<%= yield %>
<br>
<br>
<br>
<%= render :partial => "common/facebook_share_button" %>
</body>
</html>
